.checkoutProduct {
  display: flex;
  justify-content: space-between;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  margin-top: -15px;
}

.checkoutProduct__info {
  margin-left: 10px;
  margin-right: auto;
}

.checkoutProduct__title {
  font-size: 18px;
  font-weight: 700;
  color: #007185;
}

.checkoutProduct__price {
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
}

.checkoutProduct__dep {
  color: #565959;
  font-size: 12px;
  margin-top: 5px;
}

.checkoutProduct__stock {
  color: #007600;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.checkoutProduct__soldBy {
  color: #565959;
  font-size: 12px;
}

.checkoutProduct__prime {
  width: 60px;
}

.checkoutProduct__select {
  margin-top: -5px;
}

.checkoutProduct__i {
  color: #ddd;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 300;
}

.checkoutProduct__del {
  color: #007185;
  font-size: 12px;
  cursor: pointer;
}

.bs {
  padding: 4px;
  margin-right: 8px;
  background: orange;
  color: white;
  font-family: helvetica;
  border-radius: 5px 0 0 5px;
  position: relative; /* This is important */
}

.bs:before,
.bs:after {
  content: "";
  position: absolute;
  right: -0.75em;
  top: 0;
  width: 0;
  height: 0;
  /* the trangles are made of different border widths, not the box itslef */
  border-style: solid;
  border-width: 18px 12px 0 0;
  border-color: orange transparent transparent transparent;
}

.bs:after {
  top: auto; /*reset the top placement */
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 0 15px;
  border-color: transparent transparent transparent orange;
}
