.checkout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper {
  flex: 0 1 100%;
}

.checkout__basket {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  flex: 1;
}

.checkout__title {
  font-weight: 400;
  font-size: 28px;
}

.checkout__basket > span {
  display: block;
  margin-left: auto;
  margin-bottom: 10px;
  color: #565959;
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.checkout__ad {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  background-color: #fff;
  width: 784px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
}

.checkout__ad-text > span {
  font-size: 20px;
  color: #4682b4;
}

.checkout__ad-btn {
  background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
  min-height: 29px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) inset;
  border-radius: 2px;
  background: #e7e9ec;
  border-radius: 3px;
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none !important;
}

.checkout__right {
  width: 300px;
}

.checkout__subtotal {
  text-align: right;
  font-size: 18px;
  margin-bottom: 20px;
}
